{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<div>
<table class="table">
  <thead>
    <tr>
        <th>numero</th>
        <th>titre</th>
        <th>contenu</th>
        <th>auteur</th>
    </tr>
  </thead>
  <tbody>
    {% for Articles in data %}
    <tr>
        <td scope="col">{{Articles.id}}</td>
      <td scope="col">{{Articles.title}}</td> 
      <td scope="col">{{Articles.content}}</td>
      <td scope="col">{{Articles.author}}</td>
      <td scope="col"><a href="{{path('app_update', {'id':Articles.id})}}" class="btn btn-info mt-2 text-white">Modifier</a></td>
      <td scope="col"><a href="{{path('app_delete',  {'id':Articles.id})}}"  class="btn btn-info mt-2 text-white">Supprimer</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{{path('app_create')}}"  class="btn btn-info mt-2 text-white">Créer un nouvel article</a>

</div>
{% endblock %}
